*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing : border-box;
    font-weight: bold;
}

p, li{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


body{
    margin: 0;
    background:white;
    
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin:auto;
    width: 100%;
}

nav{
    padding: 0.1% 10%;
    /*background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    color:#0C0A1F;
    display: inline-block;
    list-style: none;
    margin: 5% clamp(10px,2vw,40px) 2% clamp(10px,2vw,40px);
}

nav ul li a{
    color: #0C0A1F;
    text-decoration: none;
    font-size: clamp(15px, 1.2vw, 35px);
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}




.slider{
    background-color: black;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
    position: relative;
}

.slider .list .item{
    inset: 0,0,0,0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.slider .list .item img, .slider .list .item video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute; 
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, black 40%, transparent);
}

.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: clamp(50px, 5.9vw, 120px);    
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: clamp(10px, 0.8vw, 20px);
}

.slider .list .item .content p:nth-child(3){
    padding-top: 10px;
    line-height: 30px;
    font-size: clamp(13px, 0.75vw, 18px);
}

.slider .list .item .content h2{
    padding-top: 10px;
    font-size: clamp(28px,2.1vw,50px);
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

.slider .list .item .content a{
    text-decoration: none;
    color: #ff004f;
}


@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1), .slider .list .item.active h2, .slider .list .item.active p:nth-child(3), .slider .list .item .content a{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .3s .3s ease-in-out forwards;
}

.arrows{
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 20;
}

.arrows button{
    color: white;
    background-color: #eee5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    transition: .5s;
}

.arrows button:hover{
    cursor: pointer;
    background-color: white;
    color: #0C0A1F;
}




.thumbnail{
    position: absolute;
    bottom: 8%;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 100px;
    height: 150px;
    filter: brightness(.5);
    transform: .5s;
    flex-shrink: 0;
    
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item img:hover{
    cursor: pointer;
}

@keyframes activeContent {
    to{
        filter: brightness(1.1);
    }
}

.thumbnail .item.active{
    filter: brightness(0.7);
    animation: activeContent .25s 0s ease-in-out forwards;
}

.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}

.thumbnail .item h3{
    font-size: x-large;
    inset: 0 0 0 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .fa-solid{
    display: none;
}

@media screen and (max-width: 600px) {
    .header{
        margin-top: 10%;
        font-size: 16px;
    }
    .header h1{
        font-size: 30px;
    }
    .header p{
        font-size: 25px;
        font-style: italic;
        margin-top: 13px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav .fa-solid.fa-bars{
        padding-left: 90%;
        padding-top: 10%;
        color: #0C0A1F;
    }
    nav ul{
        color: white;
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 100;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: white;
        letter-spacing: 0.75px;
        text-decoration: none;
        font-size: 20px;
        position: relative;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    

    .slider{
        background-color: black;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
        height: 100%;
        position: relative;
        top: 2%;
    }

    .slider .list .item .content{
        position: absolute;
        left: 10%;
        top: 10%;
        width: 500px;
        max-width: 80%;
        z-index: 1;
    }
    
    .slider .list .item .content p:nth-child(3){
        padding-top: 5px;
        line-height: 20px;
        font-size: clamp( 10px,2.1vw, 13px);
    }
    .slider .list .item .content a{
        font-size: clamp( 10px,2.1vw, 13px);
    }
    
    .slider .list .item .content h2{
        padding-top: 3px;
        font-size: clamp(15px,5.3vw, 35px);
    }
    
    .thumbnail{
        justify-content: start;
    }

    .arrows{
        top: 8%;
    }

    .arrows button{
        color: white;
        background-color: #eee5;
        border: none;
        width: 30px;
        height: 30px;
        font-size: large;
    }
}


